.vscode/
.DS_Store

GammaHeart/mods/*
!GammaHeart/mods/gammaheart/
!GammaHeart/mods/gammaheartch1/
!GammaHeart/mods/chselect/
!GammaHeart/mods/_light/
!GammaHeart/mods/_testmod/
!GammaHeart/mods/example/
!GammaHeart/mods/previewtest/
!GammaHeart/mods/z/

build/
output/

*.tiled-session
